@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  
}


.m{
  display: inline-flex;
}
.m a{
  margin: 0 25px;
  text-decoration: none;
  color: #fff;
  display: block;
  position: relative;
}
.m a .l{
  width: 55px;
  height: 55px;
  transition: transform 0.3s;
}
.m a:hover .l{
  transform: rotate(-35deg) skew(20deg);
}
.m a .l span{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border: 1px solid #fff;
  border-radius: 5px;
  transition: all 0.3s;
}
.m a .l span.fab{
  font-size: 30px;
  line-height: 55px;
  text-align: center;
}
.m a:hover .l span:nth-child(1){
  opacity: 0.2;
}
.m a:hover .l span:nth-child(2){
  opacity: 0.4;
  transform: translate(5px, -5px);
}
.m a:hover .l span:nth-child(3){
  opacity: 0.6;
  transform: translate(10px, -10px);
}
.m a:hover .l span:nth-child(4){
  opacity: 0.8;
  transform: translate(15px, -15px);
}
.m a:hover .l span:nth-child(5){
  opacity: 1;
  transform: translate(20px, -20px);
}
.m a:nth-child(1) .l span,
.m a:nth-child(1) .t{
  color: #4267B2;
  border-color: #4267B2;
}
.m a:nth-child(2) .l span,
.m a:nth-child(2) .t{
  color: #1DA1F2;
  border-color: #1DA1F2;
}
.m a:nth-child(3) .l span,
.m a:nth-child(3) .t{
  color: #E1306C;
  border-color: #E1306C;
}
.m a:nth-child(4) .l span,
.m a:nth-child(4) .t{
  color: #2867B2;
  border-color: #2867B2;
}
.m a:nth-child(5) .l span,
.m a:nth-child(5) .t{
  color: #ff0000;
  border-color: #ff0000;
}
.m a:hover:nth-child(1) .l span{
  box-shadow: -1px 1px 3px #4267B2;
}
.m a:hover:nth-child(2) .l span{
  box-shadow: -1px 1px 3px #1DA1F2;
}
.m a:hover:nth-child(3) .l span{
  box-shadow: -1px 1px 3px #E1306C;
}
.m a:hover:nth-child(4) .l span{
  box-shadow: -1px 1px 3px #2867B2;
}
.m a:hover:nth-child(5) .l span{
  box-shadow: -1px 1px 3px #ff0000;
}
.m a .t{
  position: absolute;
  left: 50%;
  bottom: -5px;
  opacity: 0;
  font-weight: 500;
  transform: translateX(-50%);
  transition: bottom 0.3s ease, opacity 0.3s ease;
}
.m a:hover .t{
  bottom: -35px;
  opacity: 1;
}
